.primary-button-container {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.primary-button-button {
  color: var(--dl-color-gray-white);
  align-self: center;
  transition: 0.3s;
  padding-top: 12px;
  border-width: 0px;
  padding-left: 32px;
  border-radius: var(--dl-radius-radius-radius6);
  padding-right: 32px;
  padding-bottom: 12px;
  background-color: var(--dl-color-orange-994d1c);
}
.primary-button-button:hover {
  background-color: var(--dl-color-purple-900);
}
.primary-button-button:active {
  background-color: var(--dl-color-purple-1000);
}

.link-icon-button-container {
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
}
.link-icon-button-button {
  color: var(--dl-color-purple-default);
  display: flex;
  transition: 0.3s;
  align-items: center;
  border-width: 0px;
  padding-left: 0px;
  padding-right: 0px;
  flex-direction: row;
}
.link-icon-button-text {
  color: var(--dl-color-orange-994d1c);
}
.link-icon-button-icon {
  fill: var(--dl-color-orange-994d1c);
  width: 20px;
  align-self: center;
}

.feature-card1-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card1-container {
  flex: 0 0 auto;
  width: 2rem;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.feature-card1-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.feature-card1-image {
  width: var(--dl-size-size-tripleunit);
  object-fit: cover;
}
.feature-card1-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card1-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card1-text1 {
  text-align: justify;
}

@media(max-width: 767px) {
  .feature-card1-feature-card {
    flex-direction: row;
  }
  .feature-card1-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card1-container2 {
    flex-direction: column;
  }
}

.feature-card2-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card2-container {
  flex: 0 0 auto;
  width: 2rem;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.feature-card2-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.feature-card2-image {
  width: var(--dl-size-size-tripleunit);
  object-fit: cover;
}
.feature-card2-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card2-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card2-text1 {
  text-align: justify;
}

@media(max-width: 767px) {
  .feature-card2-feature-card {
    flex-direction: row;
  }
  .feature-card2-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card2-container2 {
    flex-direction: column;
  }
}

.feature-card3-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card3-container {
  flex: 0 0 auto;
  width: 2rem;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.feature-card3-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.feature-card3-image {
  width: var(--dl-size-size-tripleunit);
  object-fit: cover;
}
.feature-card3-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card3-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card3-text1 {
  text-align: justify;
}

@media(max-width: 767px) {
  .feature-card3-feature-card {
    flex-direction: row;
  }
  .feature-card3-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card3-container2 {
    flex-direction: column;
  }
}

.feature-card4-feature-card {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-unit);
  position: relative;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.feature-card4-container {
  flex: 0 0 auto;
  width: 2rem;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.feature-card4-container1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
}
.feature-card4-image {
  width: var(--dl-size-size-tripleunit);
  object-fit: cover;
}
.feature-card4-container2 {
  display: flex;
  align-items: flex-start;
  margin-left: var(--dl-space-space-doubleunit);
  flex-direction: column;
  justify-content: flex-start;
}
.feature-card4-text {
  font-weight: 600;
  margin-bottom: var(--dl-space-space-unit);
}
.feature-card4-text1 {
  text-align: justify;
}

@media(max-width: 767px) {
  .feature-card4-feature-card {
    flex-direction: row;
  }
  .feature-card4-container2 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .feature-card4-container2 {
    flex-direction: column;
  }
}

.store-banner-store-banner {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.store-banner-image {
  width: 135px;
  object-fit: cover;
}
.store-banner-image1 {
  width: 135px;
  object-fit: cover;
  margin-left: var(--dl-space-space-halfunit);
}

.profile-container {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.profile-header-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile-header {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  position: relative;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-container01 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-menu {
  width: 24px;
  height: 24px;
  margin-left: var(--dl-space-space-unit);
}
.profile-container02 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.profile-link {
  display: contents;
}
.profile-container03 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon03 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon03:hover {
  fill: var(--dl-color-purple-default);
}
.profile-link01 {
  display: contents;
}
.profile-container04 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon05 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon05:hover {
  fill: var(--dl-color-turquoise-default);
}
.profile-link02 {
  display: contents;
}
.profile-container05 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon07 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon07:hover {
  fill: var(--dl-color-orange-default);
}
.profile-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-space-space-doubleunit);
  z-index: 101;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.profile-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: space-between;
}
.profile-logo {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-image {
  width: 100px;
  object-fit: cover;
}
.profile-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-icon09 {
  width: 24px;
  height: 24px;
}
.profile-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-text01 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-text01:hover {
  color: var(--dl-color-turquoise-default);
}
.profile-text02 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-text02:hover {
  color: var(--dl-color-turquoise-default);
}
.profile-text03 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-text03:hover {
  color: var(--dl-color-turquoise-default);
}
.profile-text04 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-text04:hover {
  color: var(--dl-color-turquoise-default);
}
.profile-text05 {
  transition: 0.3s;
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-text05:hover {
  color: var(--dl-color-turquoise-default);
}
.profile-text06 {
  transition: 0.3s;
}
.profile-text06:hover {
  color: var(--dl-color-turquoise-default);
}
.profile-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  align-items: flex-start;
  flex-direction: column;
}
.profile-container06 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.profile-link03 {
  display: contents;
}
.profile-container07 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon11 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon11:hover {
  fill: var(--dl-color-purple-default);
}
.profile-link04 {
  display: contents;
}
.profile-container08 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon13 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon13:hover {
  fill: var(--dl-color-pink-default);
}
.profile-link05 {
  display: contents;
}
.profile-container09 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon15 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon15:hover {
  fill: var(--dl-color-turquoise-default);
}
.profile-link06 {
  display: contents;
}
.profile-container10 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon17 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon17:hover {
  fill: var(--dl-color-orange-default);
}
.profile-main {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-blur-background {
  top: 0px;
  left: auto;
  right: 0px;
  width: 100%;
  bottom: auto;
  filter: blur(60px);
  height: 70vh;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  background-color: #f2f2f2;
}
.profile-turquoise-cirble {
  top: 439px;
  left: auto;
  right: 430px;
  width: 170px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.9;
  position: absolute;
  object-fit: cover;
}
.profile-purple-circle {
  top: -100px;
  left: auto;
  right: -26px;
  width: 400px;
  bottom: auto;
  filter: blur(60px);
  opacity: 0.4;
  position: absolute;
  object-fit: cover;
}
.profile-left {
  top: 653px;
  left: 0px;
  right: auto;
  width: 420px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.profile-right {
  top: 441px;
  left: auto;
  right: 0px;
  width: 612px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.profile-hero {
  flex: 0 0 auto;
  width: 100%;
  height: 80vh;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-container11 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.profile-heading {
  font-size: 72px;
  font-family: "Inter";
  font-weight: 800;
  margin-bottom: var(--dl-space-space-doubleunit);
  text-transform: none;
  text-decoration: none;
}
.profile-text07 {
  font-size: 45px;
}
.profile-text08 {
  font-size: 45px;
}
.profile-text09 {
  font-size: 45px;
}
.profile-image1 {
  width: 320px;
  object-fit: cover;
}
.profile-feature1 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.profile-container12 {
  flex: 0 0 auto;
  width: 540px;
  height: 540px;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
}
.profile-image2 {
  width: 360px;
  margin-top: 100px;
  object-fit: cover;
}
.profile-container13 {
  flex: 1;
  margin: var(--dl-space-space-doubleunit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.profile-text12 {
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-doubleunit);
}
.profile-feature2 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.profile-container14 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-features {
  width: 100%;
  display: flex;
  padding: 48px;
  max-width: 1400px;
  flex-direction: column;
}
.profile-text13 {
  font-size: 3rem;
  margin-bottom: 48px;
}
.profile-container15 {
  width: 100%;
  display: grid;
  grid-gap: 32px;
  grid-template-columns: 1fr 1fr;
}
.profile-cta {
  width: 100%;
  display: flex;
  overflow: hidden;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.profile-container16 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-container17 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.profile-text14 {
  color: var(--dl-color-gray-900);
  font-size: 30px;
  font-family: "Inter";
  font-weight: 800;
  text-transform: none;
  text-decoration: none;
}
.profile-text18 {
  max-width: 400px;
  margin-top: var(--dl-space-space-doubleunit);
  margin-bottom: var(--dl-space-space-halfunit);
}
.profile-container18 {
  width: 520px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.profile-image3 {
  top: -100px;
  left: auto;
  right: var(--dl-space-space-doubleunit);
  width: 232px;
  bottom: auto;
  position: absolute;
  object-fit: cover;
}
.profile-image4 {
  top: auto;
  left: var(--dl-space-space-doubleunit);
  right: auto;
  width: 232px;
  bottom: -100px;
  position: absolute;
  object-fit: cover;
}
.profile-footer {
  flex: 0 0 auto;
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.profile-container19 {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-doubleunit);
  z-index: 100;
  flex-wrap: wrap;
  max-width: 1110px;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.profile-text19 {
  color: var(--dl-color-gray-black);
}
.profile-container20 {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.profile-text20 {
  color: var(--dl-color-gray-black);
  margin-top: var(--dl-space-space-unit);
}
.profile-container21 {
  flex: 0 0 auto;
  width: 200px;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.profile-link07 {
  display: contents;
}
.profile-container22 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon19 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon19:hover {
  fill: var(--dl-color-purple-default);
}
.profile-link08 {
  display: contents;
}
.profile-container23 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon21 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon21:hover {
  fill: var(--dl-color-turquoise-default);
}
.profile-link09 {
  display: contents;
}
.profile-container24 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  margin-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  background-color: var(--dl-color-gray-900);
}
.profile-icon23 {
  fill: var(--dl-color-gray-white);
  width: var(--dl-size-size-unit);
  height: var(--dl-size-size-unit);
  transition: 0.3s;
}
.profile-icon23:hover {
  fill: var(--dl-color-orange-default);
}
@media(max-width: 991px) {
  .profile-container01 {
    display: none;
  }
  .profile-hero {
    height: auto;
    flex-direction: column;
  }
  .profile-container11 {
    align-items: center;
    margin-bottom: var(--dl-space-space-doubleunit);
  }
  .profile-heading {
    text-align: center;
  }
  .profile-feature1 {
    flex-direction: column;
  }
  .profile-container13 {
    margin-left: 0px;
    margin-right: 0px;
  }
  .profile-container14 {
    align-items: flex-start;
    flex-direction: column;
  }
  .profile-container18 {
    display: none;
  }
}
@media(max-width: 767px) {
  .profile-burger-menu {
    display: block;
  }
  .profile-heading {
    font-size: 50px;
    text-align: center;
  }
  .profile-features {
    padding-left: 32px;
    padding-right: 32px;
  }
  .profile-container15 {
    grid-template-columns: 1fr;
  }
  .profile-text14 {
    font-size: 40px;
  }
  .profile-container20 {
    flex-direction: column;
  }
  .profile-text20 {
    margin-top: var(--dl-space-space-unit);
    margin-bottom: var(--dl-space-space-unit);
  }
}
@media(max-width: 479px) {
  .profile-container01 {
    display: none;
  }
  .profile-bot {
    width: 100%;
  }
  .profile-features {
    padding-top: 32px;
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: 32px;
  }
}
